.cTable{
    display: table;
    width: 80%;
  }
  .cTableRow{
    display: table-row;
  }
  /* .cTableHead{
    display: table-header-group;
    background-color: lightblue;
  } */
  .cTableHead, .cTableCell{
    display: table-cell;
    padding: 15px;
    border: 1px solid lightseagreen;
  }
  .cTableCell:hover{
    background-color: lightsteelblue;
    font-weight: bold;
    color: darkturquoise;
  }
  .add-data{
    padding: 7px;
    width: 25%;
    border:2px solid burlywood;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background: white;
    transition-duration: 0.3s;
    color:black;
  }
  .add-data:hover{
    background: steelblue;
    color: white;
    font-weight: bold;
  }
  